<img src="assets\img\logoLogin.png" style= "width: 45%; ;margin-top: 15px;margin-top: 50px;margin-left: 340px;">

<br>
<br>
<img src="assets\img\habilitado.png" style= "width: 10%;margin-left: 550px; margin-left: 610px;">
<br>
<br>
<h3 style="color:black ;margin-top: 5px;margin-left: 490px;"> La contraseña se ha actualizado </h3>

<p style="color:black;margin-left: 520px"> ¡Perfecto! Has establecido una contraseña nueva </p>
<br>
<a style="color: darkblue;margin-left: 640px" > Ir a mi perfil</a>
