
  <div  style="position: relative;">
  <h2 style="color:black; margin-left: 420px; margin-top: 45px;"> JUAN RICARDO PEREZ GUZMAN  </h2>
  
  <label style="background-color: darkgrey;margin-top:30px ;margin-left: 420px; border-radius: 7px;">
        <h3 style="color: black;text-align: center;"> Detalles de Usuario</h3>
  <h4 style="color: black;margin-left: 50px;margin-right: 50px;text-align: center;">Direccion de Correo Electronico </h4>
  <label style="margin-left: 135px;color: black;text-align: center;">juan perez@gmail.com</label>
  <br>
  <h4 style="color: black;margin-left: 169px; ">Cedula </h4>
  <label style="margin-left: 165px;color: black;">0150611234</label>
  <h4 style="color: black;margin-left: 122px">Nombre Usuario </h4>
  <label style="margin-left: 185px;color: black;">Patukis</label>
  <h4 style="color: black;margin-left: 150px">Contraseña </h4>
  <label style="margin-left: 170px;color: black;">**************</label>
  <label style="margin-left: 55px;color: darkblue;">Modificar</label>
  
  </label>
  </div>
  <img src="assets\img\logo_ista.png" style="height: 25%;width: 25%;margin-left: 25px;">
  