.crear{
    position: relative;
    border: 1px;
    margin-top: 5%;
    margin-left: 35%;
    width: 370px;
    height: 600px;
    background-color: white;
    box-shadow: 2px 2px 15px black; 
    border-radius: 20px;
}
.editar{
    position: relative;
    border: 1px;
    margin-top: 5%;
    margin-left: 35%;
    width: 370px;
    height: 600px;
    background-color: white;
    box-shadow: 2px 2px 15px black; 
    border-radius: 20px;
}

.titulo {
    background-color: #E8EC12;
    position: absolute;
    margin: 25px;
    margin-left: 100px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.cuaderno {
    margin-top: 70px;
    margin-left: 160px;
    width: 70px;
    height: 70px;
    position: absolute;
}

.cedula {
    position: absolute;
    margin-top: 130px;
    color: black;
    margin-left: 74px;

}

.inputCedula {
    position: absolute;
    margin-top: 130px;
    color: black;
    margin-left: 140px;
    border-radius: 10px;
    border: transparent;
    background-color: #B1E7E1;
}

.buscar {
    margin-top: 133px;
    margin-left: 265px;
    width: 25px;
    height: 25px;
    position: absolute;

}

.Nombre {
    margin-top: 175px;
    margin-left: 50px;
    background-color: gray;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.separador {
    width: 300px;
    margin-left: 40px;
    border-width: 2px;
}

.usuario {
    position: absolute;
    margin-top: 5px;
    color: black;
    margin-left: 70px;
}

.inputUsuario {
    position: absolute;
    margin-top: 4px;
    color: black;
    margin-left: 140px;
    border-radius: 10px;
    border: transparent;
    background-color: #B1E7E1;
}

.rol {
    position: absolute;
    margin-top: 50px;
    color: black;
    margin-left: 86px;
}

.checkbox {
    position: absolute;
    margin-top: 57px;
    margin-left: 145px;


}

.checkbox1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 145px;


}

.checkbox2 {
    position: absolute;
    margin-top: 100px;
    margin-left: 245px;


}

.checkbox3 {
    position: absolute;
    margin-top: 57px;
    margin-left: 245px;


}

.contrasenia {
    position: absolute;
    margin-top: 130px;
    color: black;
    margin-left: 40px;
}

.repetircontrasenia {
    position: absolute;
    margin-top: 170px;
    color: black;
    margin-left: 40px;
    text-align: center;
}

.inputContraseña {
    position: absolute;
    margin-top: 130px;
    color: black;
    margin-left: 140px;
    border-radius: 10px;
    border: transparent;
    background-color: #B1E7E1;
}

.inputRepetir {
    position: absolute;
    margin-top: 180px;
    color: black;
    margin-left: 140px;
    border-radius: 10px;
    border: transparent;
    background-color: #B1E7E1;

}

.cancelar {
    border-radius: 10px;
    background-color: #DF2926;
    border: transparent;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 260px;
    margin-left: 45px;
    color: white;


}

.aceptar {
    border-radius: 10px;
    background-color: #2664DF;
    border: transparent;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 50px;
    color: white;

}

.eliminar {
    position: relative;
    border: 1px;
    width: 600px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 15px black; 
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 20px;
}

.advertencia {
    width: 70px;
    height: 70px;
    margin-left: 250px;
}

.seguro {
    margin-left: 10px;
    text-align: justify;
}
.seguro1 {
    margin-left: 25px;
    text-align: justify;
}

.cancelar2 {
    border-radius: 10px;
    background-color: #DF2926;
    border: transparent;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 45px;
    color: white;


}

.eliminarbtn {
    border-radius: 10px;
    background-color: green;
    border: transparent;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 150px;
    color: white;


}

.confirmarGuardado {
    position: relative;
    border: 1px;
    width: 500px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 15px black; 
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.confirmar {
    border-radius: 10px;
    background-color: green;
    border: transparent;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 80px;
    color: white;


}
.advertencia2 {
    width: 70px;
    height: 70px;
    margin-left: 200px;
}
