<div class="crear">
    <h3 class="titulo"> Nuevo Usuario </h3>
    <br>
    <img src="assets\img\015-cuaderno.png" class="cuaderno">
    <br>
    <label class="cedula" >Cedula:</label>
    <input type="number" placeholder="Cedula" class="inputCedula" ngModel required>
    <label class="Nombre">Juanito Perez</label>
    <br>
    <hr class="separador">
    <label class="usuario" >Usuario:</label>
    <input type="text" placeholder="Usuario" class="inputUsuario">
    <label class="rol" >Roles:</label>
    <input class="checkbox" type="checkbox">
    <input class="checkbox1" type="checkbox">
    <input class="checkbox2" type="checkbox">
    <input class="checkbox3" type="checkbox">
    
    <label class="contrasenia" >Contraseña:</label>
    <input type="password" placeholder="Contraseña" class="inputContraseña">
    
    <label class="repetircontrasenia" >Repetir <br> Contraseña :</label>
    <input type="password" placeholder="Contraseña" class="inputRepetir">
    
    <button class="aceptar">ACEPTAR</button>
    <button class="cancelar">CANCELAR</button>
    
    </div>
    
    <div class="editar">
        <h3 class="titulo"> Editar Usuario </h3>
        <br>
        <img src="assets\img\017-editar-1.png" class="cuaderno">
        <br>
        <label class="cedula" >Cedula:</label>
        <input type="text" placeholder="Cedula" class="inputCedula" value="0150144079">
        <label class="Nombre">Maria Peña</label>
        <br>
        <hr class="separador">
        <label class="usuario" >Usuario:</label>
        <input type="text" placeholder="Usuario" class="inputUsuario" value="Pepe Perez">
        <label class="rol" >Roles:</label>
        <input class="checkbox" type="checkbox">
        <input class="checkbox1" type="checkbox">
        <input class="checkbox2" type="checkbox">
        <input class="checkbox3" type="checkbox">
        
        <label class="contrasenia" >Contraseña:</label>
        <input type="password" placeholder="Contraseña" class="inputContraseña" value="admin1234">
        
        <label class="repetircontrasenia" >Repetir <br> Contraseña :</label>
        <input type="password" placeholder="Contraseña" class="inputRepetir" value="admin1234">
        
        <button class="aceptar">ACEPTAR</button>
        <button class="cancelar">CANCELAR</button>
    
    </div>
    
    
    <div class="eliminar">
        <br>
    <img src="assets\img\018-advertencia.png" class="advertencia">
    
    <h3 class="seguro">¿Está seguro que desea eliminar este usuario?</h3>
    
    <button class="eliminarbtn">ELIMINAR</button>
    <button class="cancelar2">CANCELAR</button>
    </div>
    
    
    <div class="confirmarGuardado">
        <br>
    <img src="assets\img\018-advertencia.png" class="advertencia2">
    
    <h3 class="seguro1">¿Está seguro de guardar los datos?</h3>
    
    <button class="confirmar">CONFIRMAR</button>
    <button class="cancelar2">CANCELAR</button>
    </div>
    