

<div style="position: relative;">

    <img src="assets\img\logo desenfocado4.png" style="width: 100%; ">
  
  </div>
  <div style="background-color:rgba(39,46,86,255);">
    <button style=" margin-left: 1150px; color: white;margin-top: 1px; background-color: transparent; border-color: transparent;"[routerLink]="['/auth/login']"><h3>Iniciar Sesion</h3></button>
  </div>
  
  
  <div  style="position: relative;">
    <h1 style="position: absolute;;margin-top: 250px;margin-left: 25px; color: darkblue; background-color: lightsteelblue;">Bienvenido</h1>
    <h1 style="position: absolute;;margin-top: 350px;margin-left: 25px; color: darkblue; background-color: lightsteelblue;">Sistema Gestion de Proyectos</h1>
    <h1 style="position: absolute;;margin-top: 450px;margin-left: 25px; color: darkblue; background-color: lightsteelblue;">Instituto Superior Tecnologico del Azuay</h1>
    <img src="assets\img\fondo_principal.jpg" style="height: 100%;width: 100%;">
  
  </div>
  