
<div id="nav">
    <div class="titulonav">
    Participantes
    </div>
    
    <div class="cuerporec">
    <ul>
        <li>Pedro Avila</li>
        <li>Mateo Bravo</li>
        <li>Antonio Calle</li>
        <li>Manuel Silva</li>
        <li>Juan mendez</li>
        <li>Adrian Merchan</li>
    </ul>
    </div>
    <div class="titulonav">
        Secciones
        </div>
        
        <div class="cuerporec">
        <ul>
           <li>Copia de Proyecto</li>
           
        </ul>
        </div>
        
 </div>
 <div>
    
 </div>
 
 <div class="principal">

    <hr>
    <div>        
              
        <h2 class="tit">   PROYECTOS ISTA   </h2>
        
    </div>
    <hr>
    
       
     

     <body>
    <div class="fondo">

          
        <input src="assets\img\x-error.png" type="search" placeholder="Buscar">
        <a href="#" class="boton restructurar">Restructurar</a>
        <a href="#" class="boton nuevo">+ Nuevo</a> 

    </div>


  <table class="content-table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre del Proyecto</th>
        <th>Carrera</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Evaluador</th>
        <th>Estado</th>
        <th>Objetivos</th>
        <th>Operaciones</th>
      </tr>
  
    </thead>
    <tbody >
      <tr>
        <td>1</td>
        <td>Domenic</td>
        <td>88,110</td>
        <td>dcode</td>
        <td>N°</td>
        <td>Domenic</td>
        <td ><img src="assets\img\x-error.png" width="30" height="30"></td>
        <td><img src="assets\img\objetivos_proyecto.png" width="30" height="30"></td>
        <td><img class="editar" src="assets\img\editar.png" width="30" height="30"> <img class ="borrar" src="assets\img\cubo-de-basura.png" width="30" height="30"></td>

      </tr>
      <tr class="active-row">
        <td>1</td>
        <td>Sally</td>
        <td>72,400</td>
        <td>Students</td>
        <td>Students</td>
        <td>Sally</td>
        <td ><img src="assets\img\checkmark.png" width="30" height="30"></td>
        <td><img src="assets\img\objetivos_proyecto.png" width="30" height="30"></td>
        <td><img class="editar" src="assets\img\editar.png" width="30" height="30"> <img class ="borrar" src="assets\img\cubo-de-basura.png" width="30" height="30"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Nick</td>
        <td>52,300</td>
        <td>dcode</td>
        <td>Students</td>
        <td>Sally</td>
        <td ><img src="assets\img\desabilitado.png" width="30" height="30"></td>
        <td><img src="assets\img\objetivos_proyecto.png" width="30" height="30"></td>
        <td><img class="editar" src="assets\img\editar.png" width="30" height="30"> <img class ="borrar" src="assets\img\cubo-de-basura.png" width="30" height="30"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Nick</td>
        <td>52,300</td>
        <td>dcode</td>
        <td>Students</td>
        <td>Sally</td>
        <td ><img src="assets\img\x-error.png" width="30" height="30"></td>
        <td><img src="assets\img\objetivos_proyecto.png" width="30" height="30"></td>
        <td><img class="editar" src="assets\img\editar.png" width="30" height="30"> <img class ="borrar" src="assets\img\cubo-de-basura.png" width="30" height="30"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Nick</td>
        <td>52,300</td>
        <td>dcode</td>
        <td>Students</td>
        <td>Sally</td>
        <td ><img src="assets\img\x-error.png" width="30" height="30"></td>
        <td><img src="assets\img\objetivos_proyecto.png" width="30" height="30"></td>
        <td><img class="editar" src="assets\img\editar.png" width="30" height="30"> <img class ="borrar" src="assets\img\cubo-de-basura.png" width="30" height="30"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Nick</td>
        <td>52,300</td>
        <td>dcode</td>
        <td>Students</td>
        <td>Sally</td>
        <td ><img src="assets\img\x-error.png" width="30" height="30"></td>
        <td><img src="assets\img\objetivos_proyecto.png" width="30" height="30"></td>
        <td><img class="editar" src="assets\img\editar.png" width="30" height="30"> <img class ="borrar" src="assets\img\cubo-de-basura.png" width="30" height="30"></td>
      </tr>
    </tbody>
  </table>
