
<img src="assets\img\logoLogin.png" style= "width: 45%; ;margin-top: 15px;margin-top: 50px;margin-left: 320px;">

<h3 style="color:black ;margin-top: 5px;margin-left: 525px;"> Restablecer Contraseña</h3>
<br>
<p style="margin-left:430px; color:black"> Introduce tu direccion de correo electronico que usaste para registrate </p>
<p style="margin-left:460px; color:black"> Te enviaremos un correo electronico con tu nombre de usuario   </p>
  <p  style="margin-left:520px; color:black">y un enlace para restablecer la contraseña.</p>
<br>
<h6  style="margin-left:360px ; margin-right: 400px"> Correo Electronico</h6>
<div class="form-floating" style="margin-left:360px ; margin-right: 300px;">
  <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
  <label></label>
</div>
<br>
<button style="margin-left:995px ; margin-right: 400px; color:azure;background-color: darkblue; border-radius: 7px; border-color: transparent;"[routerLink]="['/verificar']">  ENVIAR </button>
<br>
<br>
<label style="color: black;margin-left: 450px;">Si nececitas mas ayuda contactate con soporte tecnico.</label>

