
<nav id="navbar-example2" class="navbar  px-3 mb-3" style="background-color: #192C8A">
    <img src="assets\img\logo_ista.png" style="width: 5%;">
    <a class="navbar-brand" href="#" style="color: aliceblue; margin-right:800px  ;">Administrador</a>
  
    <ul class="nav nav-pills" style="position: relative;">
  
      <li class="nav-item dropdown">
        <h1  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: aliceblue;">Juan Perez <img src="assets\img\user_icon-icons.com_66546.png" alt=""style="width: 15%;"></h1 >
        <ul class="dropdown-menu" style="background-color: gray;">
          <li><a class="dropdown-item" href="#scrollspyHeading3" style="background-color: gray;" >Perfil</a></li>
          <li><a class="dropdown-item" href="#scrollspyHeading4" style="background-color: gray;">Cerrar Sesion</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  
  <div  style="position: relative;">
  
    <h1 style="position: absolute;;margin-top: 250px;margin-left: 35px; color: darkblue; background-color: rgb(191, 193, 193);">Bienvenido</h1>
    <h1 style="position: absolute;;margin-top: 320px;margin-left: 35px; color: darkblue; background-color: rgb(191, 193, 193);">Sistema de Gestion </h1>
  
    <img src="assets\img\pexels-fauxels-3183153.jpg" style="height: 100%;width: 100%;">
  
  </div>
  
  