<div>
   

    <button style="border-style: hidden;position: absolute; margin-left: 100px;background-color: darkgrey; ">
        <div>
            <h4 style="text-align: center;">USUARIO</h4>
        </div>
        <div>
            <img src="assets\img\Usuario_Menu.jpg" alt="" width="250px">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 400px;background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">PERSONA</h4>
        </div>
        <div>
            <img src="assets\img\pexels-fauxels-3183153.jpg" alt="" width="250px">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 695px;background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">PROYECTO</h4>
        </div>
        <div>
            <img src="assets\img\crear_proyecto.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 986px;background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">SEGUIMIENTO</h4>
        </div>
        <div>
            <img src="assets\img\Seguimiento_Menu.webp" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 250px;margin-top:240px;margin-bottom: 10px; background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">CARRERA</h4>
        </div>
        <div>
            <img src="assets\img\Carrera_Menu.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 540px;margin-top:240px;margin-bottom: 10px; background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">ROLES</h4>
        </div>
        <div>
            <img src="assets\img\Roles_Menu.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 830px;margin-top:240px;margin-bottom: 10px; background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">ACTIVIDADES</h4>
        </div>
        <div>
            <img src="assets\img\Actividades_Menu.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <div style="position: absolute;margin-left: 100px;color: yellow;margin-top:450px;">
        <h4>_____________________________________________________________________________________</h4>
    </div>
    <div style="position: absolute;margin-left: 800px;color: yellow;margin-top:450px;">
        <h4>___________________________________________</h4>
    </div>
   



</div>
